@import "src/style/variables";

h1 {
  padding-top: 15px;
  color: white;
}

form {
  margin-bottom: 20px;
}

.user-wrapper {
  color: white;
  display: flex;
  justify-content: center;
  &__inputs {
    display: flex;
  }
  & label {
    display: none;
  }
  & input {
    padding: 10px;
    margin: 10px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  & button {
    @include button;
    width: 80px;
    margin-right: 10px;
    margin-left: 10px;
  }
}